name: Slack Notification

on: [push]

env:
  SLACK_USERNAME: DeployBot
  SLACK_ICON: https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png
  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}

jobs:
  slackNotification:
    name: Slack-Notification
    runs-on: ubuntu-latest

    steps:
    #-- Gitリポジトリの内容を取得 --#
    - name: Checkout
      uses: actions/checkout@v3

#     #-- Slack通知 --#
#     # 成功
#     - name: Slack Notification on Success
#       uses: rtCamp/action-slack-notify@v2
#       if: ${{ success() }}
#       env:
#         SLACK_TITLE: Deploy / Success
#         SLACK_COLOR: good
#         SLACK_MESSAGE: デプロイが完了しました

#     # 失敗
#     - name: Slack Notification on Failure
#       uses: rtCamp/action-slack-notify@v2
#       if: ${{ failure() }}
#       env:
#         SLACK_TITLE: Deploy / Failure
#         SLACK_COLOR: danger
#         SLACK_MESSAGE: デプロイが失敗しました
